*{
	box-sizing: border-box;
}
body{
	margin-top: 50px;
}
.header{
	margin-top: 50px;
	padding: 30px;
	font-size: 25px;
	font-weight: 900;
	color: white;
	background-image: url(../resources/bagan.jpg);
	background-size: 100%;
	text-shadow: 0px 0px 20px black;
	text-align: center;
}
.outerShell{
	padding: 30px;
}
.innerShell{
	padding: 30px;
	float: left;
}
[class*="container"]{
	height:400px;
	float: left;
	padding: 30px;

	transition-property: box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}
[class*="container"]:hover{
	box-shadow: 0px 0px 20px black;
}
.container1{
	background-image: url("../resources/popa.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
.container2{
	background-image: url("../resources/Samosa thoke.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
[class*="container"]>h2{
	text-align: center;
	color: white;
	text-shadow: 0px 0px 10px black;
}
[class*="container"]{
	color: white;
	text-shadow: 0px 0px 10px black;
}